@model Employee
@{
    ViewData["Title"] = "Employee Details";
}

<h2>Employee</h2>

<p>ID: @Model.EmployeeID</p>
<p>Name: @Model.Name</p>
<p>Last name: @Model.Lastname</p>
<p>Birthday: @Model.Birthday</p>
<p>DepartmentID: @Model.DepartmentID</p>
